*{
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
  height: auto;
}
.width-fill{
  width: 100%;
}
.height-fill{
  height: 100%;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex{
  display: flex;
}
.flex-1{
  flex: 1;
}
.j-s-end{
  justify-content: end;
}
.j-s-space-between{
  justify-content: space-between;
}
.j-s-flex-start{
  justify-content: flex-start;
}
.j-s-flex-end{
  justify-content: flex-end;
}
.a-i-center{
  align-items: center;
}
.a-i-flex-start{
  align-items: flex-start;
}
.a-i-flex-end{
  align-items: flex-end;
}
.a-i-end{
  align-items: end;
}
.flex-nowrap{
  flex-wrap: nowrap;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-column{
  flex-direction: column;
}
.flex-column-reverse{
  flex-direction: column-reverse;
}
.flex-row{
  flex-direction: row;
}
.flex-row-reverse{
  flex-direction: row-reverse;
}
.f-12{
  font-size: 12px;
}
.f-14{
  font-size: 14px;
}
.f-16{
  font-size: 16px;
}
.f-18{
  font-size: 18px;
}
.f-20{
  font-size: 20px;
}
.f-22{
  font-size: 22px;
}
.f-24{
  font-size: 24px;
}
.m-t-5{
  margin-top: 5px;
}
.m-t-10{
  margin-top: 10px;
}
.m-t-15{
  margin-top: 15px;
}
.m-t-20{
  margin-top: 20px;
}
.m-l-5{
  margin-left: 5px;
}
.m-l-10{
  margin-left: 10px;
}
.m-l-15{
  margin-left: 15px;
}
.m-l-20{
  margin-left: 20px;
}
.m-r-5{
  margin-right: 5px;
}
.m-r-10{
  margin-right: 10px;
}
.m-r-15{
  margin-right: 15px;
}
.m-r-20{
  margin-right: 20px;
}
.m-b-5{
  margin-bottom: 5px;
}
.m-b-10{
  margin-bottom: 10px;
}
.m-b-15{
  margin-bottom: 15px;
}
.m-b-20{
  margin-bottom: 20px;
}