<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>介绍</title>
  <script src="../vue.js"></script>
</head>
<body>
  <div id="root">
    <h1 :title="msgTitle" v-if="massageShow">{{ massage }}</h1>
    <ul>
      <todo-item v-for="(item,index) in toods" :todo="item" :key="index" ></todo-item>
    </ul>
    <input type="text" name="text" id="text" v-model="massage">
    <input type="button" value="反转 massage" @click="reverseMassage">
  </div>
</body>
<script>
  Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{ todo.text }}</li>'
  })

  let app = new Vue({
    el: '#root',
    data: {
      massage: 'Hello Vue',
      msgTitle: '页面加载于' + new Date().toLocaleString(),
      massageShow: true,
      toods: [
        { text: '学习 JavaScript'},
        { text: '学习 HTML'},
        { text: '学习 CSS'},
        { text: '学习 Vue'},
        { text: '学习 Node'},
        { text: '学习 React'},
      ],
    },
    methods: {
      // 反转 massage 
      reverseMassage(){
        // 把 massage 先转换成字符串 再把字符串反转 再把字符串变成数组
        this.massage = this.massage.split('').reverse().join('')
      },
    }
  });
</script>
</html>
<!-- attribute // 额吹biu特 属性，特质；标志，象征 -->