*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    word-wrap: break-word;
    word-break: break-all;
}
body{
    width: 7.5rem;
    height: calc(100vh - 50px);
}
a{text-decoration: none;}
img{display: block;width: 100%;}