{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "trailingComma": "none",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css"
}
