*{padding: 0;margin: 0;-webkit-tap-highlight-color: transparent;list-style: none;-webkit-box-sizing: border-box;box-sizing: border-box;outline: none;border: none;}
button{background: none;display: block;}
img{display: block;width: 100%;height: auto;}
a{text-decoration: none;color: #1989fa;}
html{
  font-size: 13.33vw;
}
@media screen and (min-width: 750px) {
  html{
    font-size: 100px;
    max-width: 750px;
    margin: 0 auto;
  }
}
body{
  font-size: .35rem;
}
.commomPop{
  width: 6.2rem;
  min-height: 4.2rem;
  padding: .4rem;
  background: #fff;
  border-radius: .3rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  .title{
    font-size: .4rem;
    line-height: .4rem;
    margin-bottom: .3rem;
    text-align: center;
  }
  .close{
    position: absolute;
    right: .1rem;
    top: .1rem;
  }
  .input{
    display: flex;
    align-items: center;
    margin-bottom: .1rem;
    justify-content: flex-start;
    label{
      width: 1.8rem;
      text-align: right;
      font-size: .3rem;
      line-height: .3rem;
      font-weight: bolder;
    }
    input{
      font-size: .25rem;
      line-height: .6rem;
    }
  }
  .btn{
    width: 4rem;
    height: .8rem;
    font-size: .35rem;
    font-weight: bolder;
    line-height: .8rem;
    background: #409EFF;
    color: #fff;
    border-radius: .2rem;
    margin: .2rem auto 0;
  }
  .tips{
    font-size: .22rem;
    line-height: .3rem;
    margin-top: .2rem;
    text-align: center;
    span{
      color: #1989fa;
    }
  }
}