// flex 布局工具类
.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-average {
  display: flex;
  &>* {
    flex: 1;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.a-center {
  display: flex;
  align-items: center;
}

.a-end {
  display: flex;
  align-items: flex-end;
}

.a-start {
  display: flex;
  align-items: flex-start;
}

.a-between {
  display: flex;
  align-items: space-between;
}

.j-center {
  display: flex;
  justify-content: center;
}

.j-end {
  display: flex;
  justify-content: flex-end;
}

.j-between {
  display: flex;
  justify-content: space-between;
}

.j-around {
  display: flex;
  justify-content: space-around;
}

.j-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through 24 {
  .flex-#{$i} {
    flex: #{$i};
  }
}


// 生成颜色工具类 - 使用时备注一下使用的用途，方便后续统一色值
$color-library: (
  "primary": #4285f4,   // 主题色
  "secondary": #34a853,
  "success": #51a0d9,
  "info": #707070,    // 辅助文字颜色
  "warning": #f5b529,
  "danger": #f15a24,
  "light": #c1d5d9,
  "dark": #9fa7b2,
  "white": #fff,  // 纯白色 
);

@each $name, $color in $color-library {
  .bg-#{$name} {
    background-color: $color;
  }
  .color-#{$name} {
    color: $color;
  }
}

// 生成 margin & padding 工具类
$distance-type: (
  'm': 'margin',
  'p': 'padding',
);
$distance-position: (
  't': 'top',
  'r': 'right',
  'b': 'bottom',
  'l': 'left',
);

@each $tname, $tvalue in $distance-type {
  @each $pname, $pvalue in $distance-position {
    @for $i from 0 through 50 {
      .#{$tname}-#{$pname}-#{$i*2} {
        #{$tvalue}-#{$pvalue}: #{$i*2}px;
      }
      .#{$tname}-h-#{$i*2} {
        #{$tvalue}-left: #{$i*2}px;
        #{$tvalue}-right: #{$i*2}px;
      }
      .#{$tname}-v-#{$i*2} {
        #{$tvalue}-top: #{$i*2}px;
        #{$tvalue}-bottom: #{$i*2}px;
      }
      .#{$tname}-#{$i*2} {
        #{$tvalue}: #{$i*2}px;
      }
    }
  }
}


// 生成字号 & 字重 & 行高工具类
@for $i from 1 through 25 {
  .font-#{$i*2} {
    font-size: #{$i*2}px;
  }
}
@for $i from 4 through 9 {
  .font-#{$i*100} {
    font-weight: #{$i*100};
  }
}
@for $i from 1 through 25 {
  .line-height-#{$i*2} {
    line-height: #{$i*2}px;
  }
  .l-h-#{$i*2} {
    line-height: #{$i*2}px;
  }
}

// 生成宽高工具类
@for $i from 1 through 50 {
  .width-#{$i*2} {
    width: #{$i*2}px;
  }
  .height-#{$i*2} {
    height: #{$i*2}px;
  }
}
.width-fill {
  width: 100%;
}
.height-fill {
  height: 100%;
}

// 文本省略工具类
.line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@for $i from 1 through 5 {
  .line-#{$i} {
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box !important;   // 设置盒属性
    -webkit-box-orient:vertical;  // 设置盒属性后生效 从上向下垂直布置子元素  orhorizontal(水平)
    -webkit-line-clamp: #{$i};   // 文本显示行数
  }
}

// 常用其他工具类
.cursor-pointer {
  cursor: pointer;
}

.overflow-auto {
  overflow: auto;
}

.hide-scroll-bar {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

.common-scroll-bar {
  ::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 49px;
    background-color: #ebebeb;
  }
}
